body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .movie {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
  position: relative;
}

.movie--image {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 16px;
} */

.App {
  width: 100%;
  height: 100vh;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}

.movie {
  flex: 0 0 auto;
  width: 300px;
  height: 100%;
  padding: 16px;
  margin-right: 16px;
  background-color: rgb(220,220,220);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.movie:last-child {
  margin-right: 0;
}

.movie h3 {
  margin-top: 8px;
  margin-bottom: 4px;
}

.movie--image {
  width: 200px;
  height: auto;
  margin-top: 16px;
}
